.contenido {
  height: 100%;
}

mat-sidenav {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: #383a53;
  width: 300px;
}

.navcontainer {
  width: 100%;
  justify-content: center;
}

.navcontainer, .nueva_actividad, .navitem {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nueva_actividad {
  width: 250px;
  height: 70px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
}
.nueva_actividad:hover{
    background-color: rgba(166, 227, 255, 0.959);
}

.navitem {
  width: 250px;
  height: 55px;
  margin: 10px;
  justify-content: center;
  border-radius: 10px;
  background-color: #ededf6;
  font-weight: normal;
}

.navitem:hover{
  background-color:  rgba(166, 227, 255, 0.959);
}

.user_exit{
  margin: 20px;
  color: white;
}
.user_exit2{
  display: flex;
}

.ocultar{
  display: none;
}
.aparecer{
  display: ruby;
}

@media screen and (max-width: 768px) {

  #barra_busqueda > .item {
    flex: 0 100%;
  }
}

@media screen and (min-width: 768px) {
  .user_exit2{
    display: none;
  }
  
}

