<button mat-button class="back" (click)=goBack()>VOLVER</button>

<div class="container" *ngIf="activity">
    
    <div class="item">
        <div class="round">
            <img class="foto" src={{foto_actividad}} alt="sport image">
        </div>
    </div>

    <div class="item">
        <span class="titulo" >{{activity.nombre}} </span>
    </div>

    <div class="item">
        <span class="author">Evento creado por {{activity.creador_nombre}} </span>
    </div>

    <div class="item">
        <span class="deporte">{{activity.deporte}} </span>
    </div>

    <span class="spacer"></span>
    <span class="spacer"></span>
    
    <div class="item">
        <span class="descripcion">Descripción:</span>
        <span class="descripciontext">  {{activity.descripcion}}</span>
    </div>

    <span class="spacer"></span>

    <div class="item">
        <span class="descripcion"> Teléfono de los participantes:</span>
        <span class="descripciontext">  {{telefonos}}</span>
    </div>
    <div class="item">
        <span class="descripcion">Participantes:</span>
        <span class="descripciontext">  {{activity.username_participantes}}</span>
    </div>
    
    <span class="spacer"></span>
    <span class="spacer"></span>
    


    <div class="container2">
        
        <div class="item">
            <span class="lugar">  LUGAR:</span>
            <span class="lugardesc">  {{activity.lugar | uppercase}}</span>
        </div>
    
        <span class="spacer"></span>
    
        <div class="item">
            <span class="nivel">  NIVEL:</span>
            <span class="niveldesc">  {{activity.nivel}}</span>
        </div>
    
        <span class="spacer"></span>
    
        <div class="item">
            <span class="particip">  PARTICIPANTES:</span>
            <span class="participdesc">  {{activity.participantes}}</span>
        </div>

    </div>



</div>


