 .user_exit{
   display: flex;
 }
.foto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .perfil {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .mat-toolbar.mat-primary {
    background: #09478a;
    color: #fff;
  }

  @media screen and (max-width: 767px) {

    .user_exit{
      display: none;
    }
    .freedomlogo{
      max-width:110%;
      max-height: 95%;
      padding-top: 10px;
    }
  }

  @media screen and (max-width: 340px) {

    .user_exit{
      display: none;
    }
  }

  .ocultar{
    display: none;
  }
  .aparecer{
    display: ruby;
  }

  ::ng-deep .iconbutton{
    width:20px !important;
  }

  .freedomlogo{
    width:270px ;
    height:50px;
    padding-top: 5px;
  }