<mat-toolbar color="primary" class="allheader"> 
    <div class="buttons" >
        <button (click)="toggleSidenav()" mat-stroked-button matTooltip="Abrir menu" class="iconbutton" >
            <mat-icon aria-label="hamburguer">menu</mat-icon>
        </button>
    </div>

    <span class="flex-spacer"></span>

    <div class="foto" style="margin:20px 3%">
        <a routerLink="/principal"> 
        <img class="freedomlogo" src="/assets/logo3.png" style="inset-block:initial;" alt="logo">
    </a>
    </div>


    <span class="flex-spacer"></span>
    
        <div class="user_exit">
            <div class="campouser" style="width: 300px; padding-top: 6px; text-align: end;">
                <span *ngIf="nombreuser">Hola {{nombreuser}}!</span> &nbsp;&nbsp;
            </div>
            <div class="perfil" matTooltip="Perfil" style="width: 60px;" (click)="redirectProfile()">
                
                <div class="parent" style="position: relative;">
                    <img style="border-radius: 50%;" src="{{photouser}}" height="45" width="45" [ngClass]="((photouser=='')?'ocultar':'aparecer')">
                    <img style="border-radius: 50%;" src="/assets/profile.png" height="50"  [ngClass]="((photouser==null)?'aparecer':'ocultar')">  
                    <img style="border-radius: 50%; position: absolute; top: 50%; left: 50%;" src="{{medallauser}}" height="24" width="24">
                </div>

            </div>
            <button (click)="logout()" mat-icon-button style="margin: 0px 1%" matTooltip="Salir">
                <i class="material-icons">logout</i>
            </button>
        </div>
    
</mat-toolbar>  