<mat-sidenav-container fullscreen  [hasBackdrop]="false">

<mat-sidenav #snav position="end" mode="over">
    <div class="sidenavcontainer">
        <mat-list>
            <mat-list-item style="font-weight: bold;"> DEPORTES: </mat-list-item>
            <mat-list-item *ngFor="let deporte of listdeportes; index as i">
                <mat-checkbox [(ngModel)]="deportes[i]" (ngModelChange)="filter()">{{deporte}}</mat-checkbox>
            </mat-list-item>
            
            <!-- <mat-list-item> DIFICULTAD: </mat-list-item>
            <mat-list-item *ngFor="let nivel of dificultad">
                <mat-checkbox>{{nivel}}</mat-checkbox>
            </mat-list-item> -->
        </mat-list>
        
    </div>

</mat-sidenav>
    

<!-- <h2>Hola {{tryname}}!</h2> -->
<div id="barra_busqueda">
    <!-- Buscar -->
    <div class="buscar" (click)="sidenavfun()">
        <mat-form-field class="prueba1" appearance="outline" style="font-size: medium;" >
            <mat-label >Buscar actividades</mat-label>
            <!-- <mat-label *ngIf="isfilter">Buscar actividades (with filter)</mat-label> -->
            <input matInput placeholder="Ex. Running madrid" [(ngModel)]="buscador" (ngModelChange)="getData()" >
        </mat-form-field>
    </div>
    
    <!-- Filtros -->
    <div class="filtrar">
        <button [ngClass]="isfilter?'prueba4':'prueba3'" mat-stroked-button (click)="snav.toggle()" (clickOutside)="snav.close()">
            <mat-icon>filter_list_alt</mat-icon>
            </button>
            <button *ngIf="isfilter"  (click)="enable()" mat-icon-button matTooltip="Quitar Filtro">
                <i class="material-icons" style="color: red;">delete</i>
            </button>
    </div>

    <br>
    <div class="cajas_container" (click)="sidenavfun()">
        <div *ngFor="let actividad of actividades">
            <app-caja-actividad [activity]="actividad"></app-caja-actividad>
        </div>        
    </div>
    <div class="rest" (click)="sidenavfun()">

    </div>

</div>
</mat-sidenav-container>
