<!-- <h2>Hola {{tryname}}!</h2> -->
<div id="barra_busqueda">
    <!-- Buscar -->
    <div class="item buscar">
        <mat-form-field class="prueba1" appearance="outline" style="font-size: medium;">
            <mat-label>Buscar actividades</mat-label>
            <input matInput placeholder="Ex. Running madrid" [(ngModel)]="buscador" (ngModelChange)="getData()">
        </mat-form-field>
    </div>
    <!-- Filtros -->
    <div class="item filtrar">
 
          <button class="prueba3" mat-stroked-button>
              <mat-icon>filter_list_alt</mat-icon>
             Filtrar</button>
    </div>

    <br>
    <div class="cajas_container">
        <div *ngFor="let actividad of actividades">
            <app-caja-actividad [activity]="actividad"></app-caja-actividad>
        </div>        
    </div>

</div>
 

