::ng-deep .mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: transparent;
}

mat-sidenav{
  width: 200px;
  background-color: #cccccc;
}

mat-list-item{
  
  align-content: center;
  text-align: center;
}

.sidenavcontainer{
  padding: 3%;
  align-content: center;
  text-align: center;
}

#barra_busqueda{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  overflow: hidden;
}


#barra_busqueda > .filtrar {
  height: 50px;

  padding-left: 10px;
  width: fit-content;
  padding-top: 25px;
}

#barra_busqueda > .delfiltro {
  margin-top: 18px;
  margin-left: 5px;
}
.prueba3{
  height: 60px;
}
.prueba4{
  height: 60px;
  background-color: rgb(149, 149, 149);
}



#barra_busqueda > .buscar {
  flex: 0 50%; 
  padding-top: 20px;
  padding-left: 20px;

}

.mat-form-field + .mat-form-field {
  padding-left: 8px;
}
.prueba1{
 width: 100%;

}

.cajas_container {
  margin:auto;
  width: 100%;
  height: 100%;
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 340px) {

  #barra_busqueda > .buscar {
    flex: 0 50%; 
    padding-top: 20px;
    padding-left: 20px;
    width: 170px;
  
  }
}

