<mat-toolbar color="primary" class="header">
    <img src="../../../assets/logoonly.png" style="inset-block:initial;" width="50" height="50" alt="logo">
    <span class="flex-spacer"></span>
    <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
    <a mat-button (click)="openRegisterForm()"><span class="fa fa-sign-in fa-lg"></span> Register</a>
</mat-toolbar>

<div class="backgr">

    <div class="space">&nbsp;</div>

    <div class="imgbox">
        <!-- <span class="center-fit" style="color: white; font-family: 'Fredoka One', cursive; font-size:70px;">FREEDOM</span> -->
        <img class="center-fit"src="../../../assets/logoletters.svg" style="inset-block:initial;" width="1000" height="auto" alt="logo">
    </div>

    <div style="height: 15%;"></div>

    <div class="caption" style="font-weight: bold"> FEEL FREE TO BE FREE  </div>
    
</div>

<div class="backgr2">
    
    <div style="height: 15%;"></div>

    <div class="caption">
        <div class="insidecaption">
            <div style="font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));"><i class="material-icons">cached</i>&nbsp;<b>GIRA</b>
            TU VIDA CON <b>FREEDOM</b></div>
            
            <br>
            <div class="captionsmall">
            Únete a actividades deportivas en tu barrio y disfruta del deporte en compañia
            </div>
            <br>
            <div class="captionsmall">
            Organiza actividades, gana puntos y comparte tu pasión por la aventura
            </div>
            <br>
            
            ALZA EL VUELO CON FREEDOM


        </div>
    </div>
    
</div>