<div class="backgr">
    <mat-toolbar color="primary">
        <img src="./assets/logoonly.png" style="inset-block:initial;" width="50" height="50" alt="logo">
        <span class="flex-spacer"></span>
        <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
        <a mat-button (click)="openRegisterForm()"><span class="fa fa-sign-in fa-lg"></span> Register</a>
    </mat-toolbar>
    <div class="imgbox">
        <!-- <span class="center-fit" style="color: white; font-family: 'Fredoka One', cursive; font-size:70px;">FREEDOM</span> -->
        <img class="center-fit"src="./assets/logoletters.svg" style="inset-block:initial;" width="1000" height="auto" alt="logo">
    </div>

    <div style="height: 15%;"></div>

    <div class="caption"> FEEL FREE TO BE FREE  </div>
    
</div>