<form novalidate #loginForm="ngForm">
  <h2>Introduce tu email para resetear la contraseña</h2>
    <mat-dialog-content>
      <p>
        <mat-form-field  appearance="fill">
          <input matInput placeholder="Email" type="text" [(ngModel)]="miemail" name="email" #username="ngModel" required>
          <mat-error *ngIf="username.errors?.required">Email requerido</mat-error>
        </mat-form-field>
      </p>
    </mat-dialog-content>

    <mat-dialog-actions>
      <span class="flex-spacer"></span>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button color="primary" type="submit" mat-stroked-button [disabled]="loginForm.form.invalid" (click)="authService.ForgotPassword(miemail)">Enviar</button>
    </mat-dialog-actions>
  </form>
  