<div *ngIf="unirse()">
  <h1 mat-dialog-title>
    Confirmación:
  </h1>
  
  <div mat-dialog-content>
    <p>{{data}}</p>
  </div>
  
  
  <div mat-dialog-actions>
    <div class="flex-spacer"></div>
    <button *ngIf="congrat()" mat-button (click)="onDismiss()">No</button>
    <button *ngIf="congrat()" mat-raised-button color="primary" (click)="onConfirm()" #btnFocus=matButton [autofocus]="btnFocus.focus()">Sí</button>
    <button *ngIf="!congrat()" mat-raised-button color="primary" (click)="onConfirm()">OK</button>
  </div>
</div>

<div *ngIf="!unirse()" class="loading">
  <svg class="checkmark" viewBox="0 0 52 52">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
  <h1 mat-dialog-title>
    ¡Te has unido a la actividad!
  </h1>

</div>