<div class="mycontainer" >
    <mat-toolbar color="primary">
        <h1>Organiza tu actividad</h1>
    </mat-toolbar>
    <br>
    <div>
        <form novalidate #loginForm="ngForm">
        <div class="seccion" id="seccion_deporte">
            <div>
                <h3>Nombre Actividad</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Actividad</mat-label>
                    <input matInput placeholder="Ex. Pachanga en el Parque" [(ngModel)]='actividad' #email="ngModel" maxlength="27" name="activity" required>

                </mat-form-field>
            </div>
            <div>
                <h3>Deporte a Realizar</h3>
                <mat-form-field>
                <mat-label>Deporte</mat-label>
                    <mat-select [(value)]="Deporte" required>
                        <mat-option></mat-option>
                        <mat-option value="Futbol">Futbol</mat-option>
                        <mat-option value="Baloncesto">Baloncesto</mat-option>
                        <mat-option value="Running">Running</mat-option>
                        <mat-option value="Skate">Skate</mat-option>
                        <mat-option value="Trekking">Trekking</mat-option>
                        <mat-option value="Ciclismo">Ciclismo</mat-option>
                        <mat-option value="Patinaje">Patinaje</mat-option>
                        <mat-option value="Tenis">Tenis</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> 
            <div>
                <h3>Nivel Necesario</h3>
                <mat-form-field>
                <mat-label>Nivel</mat-label>
                    <mat-select [(value)]="selectedNivel" required>
                        <mat-option></mat-option>
                        <mat-option value="0">0</mat-option>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>   
        </div>
        <div class="seccion" id="seccion_fecha"> 
            <div>
                <h3>Fecha</h3>
                <mat-form-field>
                    <mat-label>Seleccione una fecha</mat-label>
                    <input matInput [matDatepicker]="picker"[(ngModel)]='data' name="fecha" required>
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>  
            <div>
                <h3>Hora</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Hora</mat-label>
                    <input matInput placeholder="HH:MM" [(ngModel)]='hora' pattern="[0-2]+[0-9]+:+[0-6]+[0-9]" name="hora" required >
                    <mat-error *ngIf="hour.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="maps">
                <h3>Lugar</h3>
                    <mat-google-maps-autocomplete placeholder="onnjn" appearance="fill" (onAutocompleteSelected)="onAutocompleteSelected($event)"
                    (onLocationSelected)="onLocationSelected($event)">
                    </mat-google-maps-autocomplete>
            </div>
        </div> 
  
        <div class="seccion" id="descript">
            <h3>Descripción actividad</h3>
            <mat-form-field appearance="fill">
                <mat-label>Puntos relevantes</mat-label>
                <textarea matInput  [(ngModel)]='descript' name="desc" required></textarea>
            </mat-form-field>
        </div>

        <div class="seccion" id="seccion_botones">
            <button mat-raised-button color="primary" (click)='crearActividad()'>Crear Actividad</button><br>
            <button mat-raised-button (click)='nav()'>Cancelar</button>

        </div>
        </form>
    </div>
</div>
